@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Colores */
:root {
  --ion-background-color: #fafafa;
  --ion-text-color: #000000;
  --ion-color-primary: #000000;
  --ion-color-secondary: #707070;
  --ion-color-tertiary: #007aff;
  --ion-color-light: #f2f2f7;
  --ion-color-dark: #2a2a2a;

  /* Colores botones */
  --ion-button-background: var(--ion-color-primary);
  --ion-button-text-color: #ffffff;

  /* Colores toolbar*/
  --ion-toolbar-background: var(--ion-background-color);
  --ion-toolbar-text-color: var(--ion-text-color);

  /* Colores cards */
  --ion-card-background: #ffffff;
  --ion-card-text-color: var(--ion-text-color);

  /* Colores input */
  --ion-input-background: #ffffff;
  --ion-input-color: var(--ion-text-color);

  /* Colores para íconos */
  --ion-icon-color: var(--ion-color-primary);

  /* Skeleton text colors */
  --ion-skeleton-text-background: #e0e0e0;
  --ion-skeleton-text-color: #c7c7c7;
}

/* Tipografias */
:root {
  --ion-font-family: "Manrope", sans-serif;
  --ion-title-font-size: 1.5rem !important;
  --ion-title-font-weight: 700 !important;
}

/* Estilos generales */

body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-toolbar {
  --background: var(--ion-toolbar-background);
  --color: var(--ion-toolbar-text-color);
  border-bottom: 1px solid var(--ion-color-secondary);
}

ion-title {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
}

ion-card {
  --background: var(--ion-card-background);
  --color: var(--ion-card-text-color);
  box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.3);
}

ion-card-title {
  font-weight: 600;
}

ion-card-content {
  color: #bf0000;
  padding-bottom: 0 !important;
}
ion-col {
  padding: 0;
}

ion-input {
  --background: var(--ion-input-background);
  --color: var(--ion-input-color);
}

ion-icon {
  color: var(--ion-icon-color);
}

ion-card img {
  width: 100%;
  height: fit-content;
  padding: 0.6em 0.6em 0 0.6em;
}

ion-skeleton-text {
  --background: var(--ion-skeleton-text-background);
  --color: var(--ion-skeleton-text-color);
}

ion-button {
  margin-top: 0.6em;
}

.title-pages {
  padding-top: 1em;
}

.padding-page {
  padding: 0.8em !important;
}
.padding-page-wide {
  padding: 0 1.4em !important;
}

/* pagina inicio */

#img-logo {
  width: 50%;
  padding: 0.4em 0;
}

#img-logo-menu {
  width: 40%;
  padding: 0.2em 1em;
}

.inicio-container {
  position: relative;
  text-align: center;
}

.ver-productos-button {
  position: absolute;
  top: 80%;
  left: 10%;
  z-index: 1;
  --background: var(--ion-color-primary);
  --color: var(--ion-button-text-color);
}

/* pagina listado */
#search-bar {
  padding-top: 1em;
}

#filter-container {
  background-color: white;
}

#product-count {
  font-weight: 700;
  padding: 0 0.6em;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.original-price {
  text-decoration: line-through;
  color: #bf0000;
}

.discounted-price {
  color: var(--ion-color-secondary);
  font-weight: bold;
}

/* pagina detalle producto */

.product-image {
  width: 100%;
  height: auto;
}

.product-name {
  font-weight: 500;
  font-size: 1.4em;
}

.product-price {
  font-weight: 700;
  font-size: 1.2em;
}

#agregar-carrito ion-icon {
  color: var(--ion-button-text-color) !important;
  padding-right: 0.5em;
}

#agregar-carrito {
  margin-bottom: 1em;
}

.subtitle {
  text-transform: uppercase;
  padding-left: 0.6em;
  font-weight: 600;
}

/* registro y login */
form {
  margin: 0 1em;
}
